.slick-slider,
.slick-slider .slick-list,
.slick-slider .slick-list .slick-track,
.slick-slider .slick-list .slick-track .slick-slide,
.slick-slider .slick-list .slick-track .slick-slide > div,
.slick-slider .slick-list .slick-track .slick-slide > div > div {
  height: 100%;
}

#ranger-web {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #faf8f0;
}

video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 48px;
  left: 0;
}

.mapboxgl-ctrl-top-right {
  position: absolute;
  right: 1.1rem !important;
  top: 70vh !important;
}

.mapboxgl-ctrl-geolocate {
  width: 45px !important;
  height: 45px !important;
  padding: 4px !important;
}

.mapboxgl-ctrl-icon {
  background-size: cover;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-group {
  border-radius: 50% !important;
  overflow: hidden !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.mapboxgl-ctrl-bottom-left {
  display: none !important;
}
