.slick-slider,
.slick-slider .slick-list,
.slick-slider .slick-list .slick-track,
.slick-slider .slick-list .slick-track .slick-slide,
.slick-slider .slick-list .slick-track .slick-slide > div,
.slick-slider .slick-list .slick-track .slick-slide > div > div {
  height: 100%;
}

#ranger-web {
  min-height: -webkit-fill-available;
  min-height: -moz-fill-available;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #faf8f0;
}

.mapboxgl-ctrl-top-right {
  position: fixed !important;
  top: auto !important;
  right: 1.1rem !important;
  bottom: 10vh !important;
  width: 100px !important;
  height: 100px !important;
}

.mapboxgl-ctrl-geolocate {
  width: 45px !important;
  height: 45px !important;
  padding: 4px !important;
}

.mapboxgl-ctrl-icon {
  background-size: cover;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-group {
  border-radius: 50% !important;
  overflow: hidden !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

input {
  outline: none;
}
