.slick-slider,
.slick-slider .slick-list,
.slick-slider .slick-list .slick-track,
.slick-slider .slick-list .slick-track .slick-slide,
.slick-slider .slick-list .slick-track .slick-slide > div,
.slick-slider .slick-list .slick-track .slick-slide > div > div {
  height: 100%;
}

#ranger-web {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #faf8f0;
}

video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 48px;
  left: 0;
}

#tree-photos .slick-prev:before,
#tree-photos .slick-next:before {
  color: black;
}

#tree-photos .slick-next {
  right: 0;
  z-index: 9;
}

#tree-photos .slick-prev {
  left: 0;
  z-index: 9;
}

#tree-photos .slick-dots {
  bottom: unset;
  padding-bottom: 56px;
}
