<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116888410915-hcqgrj6rg5snrmkj1qbatrf94ke34u1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116888410915-hcqgrj6rg5snrmkj1qbatrf94ke34u1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>116888410915-77s5ne1de87bfo7gnjvg5lqoccts0hos.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA32IWvVN8tZk2HnDGu1AUjmRKMJzTIkD8</string>
	<key>GCM_SENDER_ID</key>
	<string>116888410915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treejer.ranger</string>
	<key>PROJECT_ID</key>
	<string>electric-signal-262123</string>
	<key>STORAGE_BUCKET</key>
	<string>electric-signal-262123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116888410915:ios:6380e722e48be146e88a96</string>
</dict>
</plist>
